# docx
# PyPDF2
# tempfile
# firebase_admin
# numpy
# streamlit
# os
# face_recognition
# cv2
click==8.1.7
importlib-metadata<8,>=1.4
docx
dlib
PyPDF2
firebase_admin
numpy
streamlit
opencv-python-headless
face_recognition
